<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
{% load static %}
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<link rel ="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'js/scrolla.jquery.min.js' %}"></script>
<script src="{% static 'js/script_main.js' %}"></script>

{% include "navbar.html" %}
{% block content %}
{% endblock%}
</body>
</html>