<style>
#navigation{
  background-color: #efcec5;
}
#navigation a, #navigation a:visited{
  padding: 10px 5px 5px 35px;
  display: inline-block;
  text-shadow: 0px 2px 2px rgb(224, 125, 125);
  color: white;
  width: 190px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
#navigation a:hover,
#navigation a:active,
#navigation a:focus{
  text-shadow: 0px 2px 2px rgb(224, 125, 125);
  color: rgba(142, 59, 97, 0.779);
  font-size: 20px;
}
</style>
<script>
function test(){
    var alt = confirm("로그아웃 하시겠습니까?")
    if(alt==false){
        return false;
    }
}
</script>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="navigation">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'newapp:index' %}">
    <img src="/static/img/openfox.png" alt="Home" id="home_img" style="width:50px; height:50px;" >FOX</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item col-4">
          <!-- ------------------------------- [edit] -------------------------------- -->
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'common:logout' %}" onclick="test()"><span>{{ user.username }} (로그아웃)</span></a>
              {% else %}
              <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
              {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'common:agree' %}">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'newapp:qna' %}">Q & A</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'common:service' %}">SERVICE</a>
          </li>
        </ul>
    </div>
</div>
</nav>
</body>
