{% extends 'base.html' %}
{% block content %}
<body>
{% load static %}
<script src="{% static 'js/script_main.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/infobase.css' %}">
{% block script %}
<script>
function setImage(path){
  const big = document.getElementById('big');
  big.src="/static/img/"+path;
 }
 function bigclick(big1){
  var jean= big1.slice(-9, big1.length);
  if (jean == 'jean1.png'){
    location.href='jeanInfo'
  }
}
{% endblock %}
</script>
<!-- 시작 -->
<div class="child-page-listing">
<br>
<h2>Jean</h2>
<br>
<div id="wrapper">
  <div id="thumb">
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean1.png')" >
        <a class="cloth-title" >슬랙스 팬츠</a>
        <img class="cloth-image" src="/static/img/jean1.png" alt="" >
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean2.png')" >
        <a class="cloth-title" >슬랙스 팬츠</a>
        <img class="cloth-image" src="/static/img/jean2.png" alt="" >
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean3.png')" >
        <a class="cloth-title" >세미 부츠컷 팬츠</a>
        <img class="cloth-image" src="/static/img/jean3.png" alt="" >
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean4.png')"  >
        <a class="cloth-title" >일자핏 팬츠</a>
        <img class="cloth-image" src="/static/img/jean4.png" alt=""  >
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean5.png')">
        <a class="cloth-title" >'7부 슬랙스 팬츠</a>
        <img class="cloth-image" src="/static/img/jean5.png" alt=""  >
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing"  onClick ="setImage('jean6.png')" >
        <a class="cloth-title" >후드 티셔츠 </a>
        <img class="cloth-image" src="/static/img/jean6.png" alt="">
      </div>
    </div>
    <div class="grid-container">
      <div class="cloth-listing" onClick ="setImage('jean7.png')" >
        <a class="cloth-title" >데일리 스키니진</a>
        <img class="cloth-image" src="/static/img/jean7.png" alt="" >
      </div>
    </div>
  </div>
  <div id="detail">
    <img id="big" src="/static/img/jean5.png" onclick="bigclick(big.src);" >
  </div>
</div>
</div>
{% endblock %}
</body>
