{% extends 'base.html' %}
{% block content %}
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'css/infoDetail.css' %}">
<div class="smart">
  <div class="inner">
    <a href="#">
      <p class="img"><img src="/static/img/jean3.png" alt=""></p>
      <pre>

        세미 부츠컷 팬츠

        군더더기없이 깔끔한 베이직 디자인,깨끗하게 마무리되는 싸개 버튼으로
        스타일링의 완성도를 높여주는 슬랙스.부담스럽게 타이트하지 않으면서도
        세련된 실루엣으로 다리가 예뻐보이는슬림 일자핏으로 제작되었어요.
        발목이 살짝 보이는 9부 기장감으로더욱 트렌디하며 격식있는 힐 외에도
        로퍼, 스니커즈까지 매치하기 좋습니다.
        MATERIAL (혼용률) : POLYESTER 100%
        두께 : 중간 , 비침 : 없음
        신축 : 중간 , 안감 : 없음
        세탁법 : 손세탁 드라이 단독세탁 울세탁
       </pre>
    </a>
  </div>
</div>
{% endblock %}
</body>