{% extends 'base.html' %}
{% block content %}
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'css/infoDetail.css' %}">
<div class="smart">
  <div class="inner">
    <a href="#">
      <p class="img"><img src="/static/img/top1.png" alt=""></p>
      <pre>

        루즈핏 맨투맨

        특기모는 압축한 기모안감 으로 일반 기모안감 보다 훨씬- 슬림하고
        피부에 닿는 터치감 또한 더욱 부드럽게 제작된 아이템으로
        루즈한 핏감으로 크게 사이즈 구애 없이 착용하기 좋으며, 활동하기에도
        정말 편안합니다
        MATERIAL (혼용률) : COTTON 100%
        두께 : 중간 , 비침 : 없음
        신축 : 높음 , 안감 : 있음
        세탁법 : 손세탁 단독세탁 울세탁  세탁건조기 사용불가
       </pre>
    </a>
  </div>
</div>
{% endblock %}
</body>
