<!-- 21/04/16 로그인 페이지 -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">
<script src="https://kit.fontawesome.com/fac1f30643.js" crossorigin="anonymous"></script>
<div id="login-form">
<form method="post" class="post-form" action="{% url 'common:login' %}">
{% csrf_token %}
<!-- 로그인 성공 후 이동되는곳  -->
<input type="hidden" name="next" value="{{next}}">
 <h1>Welcome</h1>
    {% include "common/form_errors.html" %}
<!-- 장고에서 제공하는 내장 템플릿 필터
add : 변수에 값을 추가해주는 필터
default: 값이 false 면 기본값 사용
default_if_none : 값이 none 면 기본값('')을 사용
dictsort : 딕셔너리를 받아서 주어진 키별로 정렬
upper,lower : 대,소문자 변환
make_list : 문자열이나 숫자열을 리스트로 변환
-->
<div class="input-box">
   <input type="text" class="form-control" name="username" id="username" placeholder="Username"
       value="{{ form.username.value|default_if_none:'' }}">
</div>
<div class="input-box">
  <input type="password" class="form-control" name="password" id="password" placeholder="Password"
   value="{{ form.password.value|default_if_none:'' }}">
</div>
<label>
<input type="checkbox" name="remember"> Remember me
</label>
<button type="submit" class="login-btn">Login</button>
<div class="bottom-links">
<!-- [0419] 회원가입이 안되어 있을시 새로운 계정 만들기 -->
<p> Don’t have account? <a href="{% url 'common:agree' %}"> Sign up </a></p>
</div>
</form>
</div>
{% endblock %}