html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
   /* background-image: url('/static/img/foxstore.png');
  background-size : 100%;
  background-repeat : no-repeat;  */
}
#scTop button.btnTop {
  background: none;
  border: none;
  position: fixed;
  z-index: 80;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  padding: 40px 22px;
  box-sizing: border-box;
}

#scTop button.btnTop:before{
content: 'Top';
width: 30%;
height: 30%;
position: absolute;
background: none;
right: 55px;
top: 75px;
z-index: 1;
transition: all 0.5s;
}
#scTop button.btnTop:hover:before,
#scTop button.btnTop:focus:before{
right:0;
cursor: pointer;
}
/* body */
.container {
  width: 70%;
  margin: 0 auto;

}

.panel-question {
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-heading {
  font-weight: bold;
  padding: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.panel-body {
  padding: 15px;
}

#btn-collapse{
  margin-bottom: 10px;
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  float: right;
}
h2{ text-align: center;}
.paragraph{
  white-space :pre-line;
  font-size : 14px;
  color :rgb(87, 82, 82);
 }
footer{
 padding-top: 5%;
 text-align: center;
}
#scTop button:focus {
  outline: none;
}



